/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/

html {
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  scroll-behavior: smooth;
}

/* Sørger for at content ikke hopper, når scroll bar dukker op/forsvinder */
/*@media screen and (min-width: 960px) {
  #html {
      margin-left: calc(100vw - 100%);
      margin-right: 0;
  }
}*/

body {
  overflow-x: hidden;
}

footer {
  /* background-color: var(--main-black-color); */
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  color: var(--main-font-color);
}

::selection {
  background: var(--main-font-color);
  color: black;
}

/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1 {
  font-family: var(--main-font);
  font-size: var(--font-size-large);
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--main-font-color);
}

h2 {
  font-family: var(--main-font);
  font-size: var(--font-size-medium-large);
  margin-bottom: 20px;
  color: var(--main-font-color);
}

h3 {
  font-family: var(--main-font-bold);
  font-weight: lighter;
  font-size: var(--font-size-medium);
  margin-bottom: 20px;
  color: var(--main-font-color);
}

h4 {
  font-family: var(--main-font-bold);
  font-weight: bolder;
  font-size: var(--font-size-small-medium);
  margin-top: 25px;
  margin-bottom: 10px;
  color: var(--main-font-color);
}

h5 {
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  margin-bottom: 15px;
  font-style: italic;
  color: var(--main-font-color);
}

p {
  line-height: 150%;
  font-family: var(--main-font);
  color: var(--main-font-color);
  margin-bottom: 20px;
}

/*------------------------------------*\
  #BUTTONS AND LINKS
\*------------------------------------*/

nav {
  margin-bottom: 20px;
  color: var(--main-font-color);
}

nav a {
  text-transform: uppercase;
  font-size: var(--font-size-small);
  padding: 0 5px 0 5px;
}

a, a:visited {
  color: var(--main-font-color);
  text-decoration: none;
  font-weight: bold;
  transition: background-position 0.5s;
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: 200% 5px;
  background-image: linear-gradient(to right, transparent 50%, var(--main-black-color) 50%);
}

a:hover {
  text-decoration: none;
  color: var(--main-font-color);
  background-position: -100% 100%;
}
