/*------------------------------------*\
  BAGGRUND
\*------------------------------------*/

.gradient-background {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
	/* background: linear-gradient(-45deg, #7F7FD5, #86A8E7, #91EAE4); */
	/* background: linear-gradient(-45deg, #667db6, #0082c8, #667db6); */
	background: linear-gradient(-45deg, #191654, #43C6AC);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradients 120s ease infinite;
}

@keyframes gradients {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*------------------------------------*\
  FORSIDE
\*------------------------------------*/

.front-page, .skills-page {
  height: 100vh;
}

/* bootstrap 'sm' går op til 576 */
@media screen and (max-width: 575px) {
  .front-page-left {
    height: 40%;
  }

  .front-page-right {
    height: 60%;
  }

  .skills-page-left {
    height: 20%;
  }

  .skills-page-right {
    height: 80%;
  }
}

.front-page-left, .skills-page-left {
  background-color: white;
  mix-blend-mode: screen;
}

.name-header {
  color: black;
  font-family: HeyOctober;
  font-size: 75px;
  transform: rotate(-20deg);
}

.so-me-links {
  background-image: none;
  margin: 10px;
}

.feather {
  color: white;
}

.skills-container p {
  margin: 0 0 15px 0;
  line-height: 110%;
}

@media only screen and (min-width: 576px) and (max-width: 640px) {
  .skills-container h3 {
    font-size: 22px;
  }
}

.works-container {
  background-color: var(--main-black-color);
  padding: 100px 0 100px 0;
}

.works-header {
  color: var(--main-white-color);
  padding: 0 0 70px 0;
}

.work-container {
  min-height: 300px; 
  /* der er en bug med padding right så derfor skal den være større */
  padding: 20px 40px 20px 20px;
}

.work-button {
  background-color: #ef452c;
}

.work-title-below-image {
  position: absolute;
  top: 40px;
  left: 40px;
  /* transform: translate(-50%, -65%); */
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: all 0.3s;
  padding-right: 50px;
}

.work-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: 50% 0%;
  transition: opacity 0.3s;
  /*Negativ margin her, fixer 3px for meget under billedet*/
  margin-bottom: -2px;
}

.work-button:hover .work-image {
  opacity: 0;
}

.work-button:hover .work-title-below-image {
  opacity: 1;
}

.work-content {
  padding: 10px;
}

.work-link {
  text-transform: uppercase;
}