/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

:root {
	/**
     * #COLORS
     */
	--main-font-color: #414141;
	--main-white-color: #fbfbfb;

	--background-color: var(--main-font-color);
  	--accent-color: rgb(235, 177, 32);

	--box-shadow-color: var(--box-shadow-dark);

	--box-shadow-dark: rgba(33, 33, 33, 0.5);
	--box-shadow-light: rgba(73, 73, 73, 0.4);

	/**
     * #FONTS
     */
	--main-font:      'Open Sans', sans-serif;
	--secondary-font: 'Ubuntu', sans-serif; /*Headings*/

	--font-size-large:  42px;
	--font-size-medium: 20px;
	--font-size-small:  16px;

	/**
   * #WIDTHS-HEIGHTS-OFFSETS
   */
  --tiny-margin: 5px;
  --small-margin: 10px;
  --medium-margin: 20px;

  --input-field-height: 20px;

	/*
	* #PORTFOLIO COLORS
	*/
	--portfolio-portfolio-color: var(--accent-color);
	--portfolio-mettelineM-color: #1a9f49;
	--portfolio-savedPostsOrganizer-color: #EF452C;
	--portfolio-bottomNav-color: #9cc7dc;
	--portfolio-mikkeller-color: #8CEDA0;
}
